{% extends "base.html" %}

{% block content %}
    <h1>My Job Listings</h1>
    <a href="{% url 'create_job_listing' %}" class="btn btn-success">Create Job Listing</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Category</th>
                <th>Location</th>
                <th>Posted Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for job in job_listings %}
                <tr>
                    <td>{{ job.title }}</td>
                    <td>{{ job.category.name }}</td>
                    <td>{{ job.location }}</td>
                    <td>{{ job.posted_date|date:"F d, Y" }}</td>
                    <td>
                        <a href="{% url 'edit_job_listing' job.id %}" class="btn btn-primary">Edit</a>
                        <a href="{% url 'delete_job_listing' job.id %}" class="btn btn-danger">Delete</a>
                        <a href="{% url 'job_applications' job.id %}" class="btn btn-info">Applications</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
